* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
}

a {
  color: #444;
  text-decoration: none;
  text-shadow: #444;
}